/api.www/logs/*
/api.admin/logs/*
/jobs/logs/*
/config/settings.php
/settings.php
.idea
.htaccess
workerman.log
*.pid
sftp-config.json
repo/vendor/
api.www/src/entries/v1/test/put.php
api.www/src/entries/v1/test/get.php
api.admin/src/entries/v1/test/get.php
/data
/admin/public/*.htaccess
config/settings_all.php
/jobs/start.sh
/jobs/stop.sh
/jobs/restart.sh
/repo/composer.lock
/api.game/public/*.htaccess
